# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
backend/venv/
backend/__pycache__/

# Build outputs
dist/
dist-ssr/
*.local

# THE MOST IMPORTANT PART - Environment Variables
.env
backend/.env
frontend/.env
.env.local
.env.*.local

# Docker
.dockerignore

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db